 /*css主要部分的样式*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 6px; /*对垂直流动条有效*/
  height: 6px; /*对水平流动条有效*/
}
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
  box-shadow: 0 -20px rgba(0,0,0,.3),0 20px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.3);
  border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
  border-radius: 3px;
  box-shadow: 0 -20px rgba(0,0,0,.4),0 20px rgba(0,0,0,.4);
  background-color: rgba(0,0,0,.4);
}

/*定义两端按钮的样式 */
  ::-webkit-scrollbar-button {
  background-color:rgb(255, 255, 255);
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  background:rgb(252, 227, 7);
}